	<!--<h1 style=color:white> Idealist : 전체 상품 진열 페이지입니다. </h1>-->	

<!-- Wrapper -->
			<div id="wrapper">
		
		
			<h1 style=color:white> Idealist : 전체 상품 진열 페이지입니다. </h1>
		
		
		
		        				<!-- Footer -->
					<footer id="footer">
						<p class="copyright">&copy; EwhaLikelion. Design: <a href="https://html5up.net">HTML5 UP</a>.</p>
					</footer>
					
			</div>		
		<!-- BG -->
			<div id="bg"></div>