<!-- Wrapper -->
			<div id="wrapper">
		
		
	<h1 style=color:white>updateIdea : 상품개별창에서 내용 수정하는 페이지입니다. </h1>	
		
		
		
		        				<!-- Footer -->
					<footer id="footer">
						<p class="copyright">&copy; EwhaLikelion. Design: <a href="https://html5up.net">HTML5 UP</a>.</p>
					</footer>
					
			</div>		
		<!-- BG -->
			<div id="bg"></div>